@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Roboto:wght@500;700;900&&family=Yellowtail&display=swap");

:root {
  /* color */
  --mossGreen: #274c5b;
  --lightGreen: #7eb693;
  --green: #68A47F;
  --yellow: #efd372;
  --gray: #d4d4d4;
  --milkWhite: #f9f8f8;
  --milkWhite2: #eff6f1;
  --lightBlack: #525c60;
  /* font */
  --roboto: "Roboto", sans-serif;
  --opanSans: "Open Sans", sans-serif;
  --yellowTail: 'Yellowtail', cursive;
  /* padding */
  --section-pad: 18.7rem;
  --section-pad2: 13rem;
  --section-pad3: 15rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--opanSans);
  color: #000;
}

/* ===============Color Class Setting================= */
.mossGreen {
  color: var(--mossGreen) !important;
}
.lightGreen {
  color: var(--lightGreen) !important;
}
.yellow {
  color: var(--yellow) !important;
}
.gray {
  color: var(--gray) !important;
}
.milkWhite {
  color: var(--milkWhite) !important;
}
.milkWhite2 {
  color: var(--milkWhite2) !important;
}
.lightBlack {
  color: var(--lightBlack) !important;
}
.white {
  color: #fff !important;
}
.black {
  color: #000 !important;
}
/* ==============Text Default================= */
.heading {
  color: var(--mossGreen);
  font-family: var(--roboto);
  font-size: 7rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.3s ease;
}

.heading.h1 {
  font-size: 7rem;
}
.heading.h2 {
  font-size: 5rem;
}
.heading.h3 {
  font-size: 4rem;
}
.heading.h4 {
  font-size: 3.5rem;
}
.heading.h5 {
  font-size: 3rem;
}
.heading.h6 {
  font-size: 2.5rem;
}

.text {
  color: var(--lightBlack);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 29.772px */
  text-decoration: none;
  transition: all 0.3s ease;
}

.bold {
  font-weight: 700;
}

.text-ytail {
  font-family: var(--yellowTail);
  font-size: 3.6rem;
  color: var(--green);
}

/* ============Container Wrapper=========== */
.wapper {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .wapper {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .wapper {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .wapper {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .wapper {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .wapper {
    max-width: 1320px;
  }
}

/* custom rieng cho header */
@media screen and (min-width: 1600px) {
  .wapper{
    max-width: 1400px;
  }

  #header .wapper {
    max-width: 1600px;
  }
}

/* ============Common Class=========== */
.block {
  display: block;
}
.text-center{
  text-align: center;
}
.text-end {
  text-align: end;
}




